body {
    font-family: 'Times New Roman', Times, serif;
    background: #6666;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 50%;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  h1 {
    text-align: center;
    color: #8AA27E;
  }
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 6px;
  }
  legend {
    font-size: 18px;
    font-weight: bold;
    color: #8AA27E;
  }
  .pregunta {
    margin-top: 20px;
  }
  .pregunta label.titulo {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #513b47;
    font-weight: bold;
  }
  .opciones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .opcion {
    position: relative;
    display: inline-block;
  }
  .opcion input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: border 0.3s, background 0.3s;
    vertical-align: middle;
  }
  .opcion input[type="radio"]:checked {
    background-image: url("../images/favicon.png") ;
    border-color: #8AA27E;
  }
  .opcion label {
    margin-left: 6px;
    cursor: pointer;
    vertical-align: middle;
    color: #0f0f0fb1;
    font-weight: bold;
  }
  button {

    position: relative;
    background-color: #8AA27E;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  button:hover {
    background-color: #878686b0;
  }
  .mensaje-exito {
    text-align: center;
    color: green;
    margin-top: 20px;
    display: none;
    font-weight: bold;
  }
  