body {
  background-color: #e8e9e5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10%;
  color: #5a514a;
}

h1 {
  color: #8ca37c;
}

.ruleta-container {
  position: relative;
  width: 90vw;
  max-width: 500px;
  margin: auto;
}

button{
  padding: auto;
  text-align: center;
  background-color: #8ca37c;
  font-family: 'Times New Roman', Times, serif;
}
button:hover{
  background-color:;
}



canvas {
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
}

#boton-central {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16vw;
  height: 16vw;
  max-width: 80px;
  max-height: 80px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

#resultado {
  font-size: 1.5em;
  color: #5a514a;
  margin-top: 30px;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px #000000aa;
  color: #5a514a;
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #8ca37c;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.hidden {
  display: none;
}
.botones-popup {
  display: flex;
  gap: 10px;
}

.botones-popup button {
  flex: 1;
  width: 100%;
}
